@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background_branco: rgb(236, 236, 236);
}

body {
    background-color: var(--background_branco);
}

main {
    display: flex;
}

main .sec-1 {
    height: 100vh;
    flex: 20%;
    background-color: rebeccapurple;
}

main .sec-2 {
    height: 100vh;
    flex: 90%;
    background-color: yellow;
}